/* public/styles/frontend/category.css */

.Category .front-ad{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 5px;
}

.Category .front-ad img{
    width: 100%;
}

.Category main{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
    margin-top: 20px;
}

.Category main .content .post{
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.Category main .content .thumb img{
    width: 100%;
}

.Category main .content .thumb{
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.Category main .content .thumb img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.Category main .content .thumb .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    min-height: auto;
    transform: translate(-50%,-50%);
}

.Category main .content .text{
    padding-right: 5px;
}

.Category main .content .text .title{
    font: 16px/1.5 Oswald, Koulen;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Category main .content .text .except{
    padding-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font: bold 14px/1.5 Courgette, HandWriting;
}

.Category main .content .pagination{
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding: 5px 0 0;
}

.Category main .content .pagination img:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .Category .front-ad{
        grid-template-columns: 100%;
    }

    .Category main{
        grid-template-columns: 100%;
    }

    .Category main .content .post{
        grid-template-columns: 100%;
    }
}